<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Hofflohmärkte Mühltal 2026</div>
                <div class="intro-lead-in">Traisa: Sa, 5.9., 10 - 15 Uhr</div>
                <div class="intro-lead-in">Trautheim: So, 6.9., 10 - 15 Uhr</div>
                <a href="https://www.google.com/maps/d/embed?mid=1kh70PL1mqqeT12MFhHMFycD0A3R0nOs&ehbc=2E312F" class="page-scroll btn btn-xl">Karte</a>
            </div>
        </div>
    </header>

    {% include 2017_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/js.html %}

    </body>
</html>